html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

.sketchLink{
  position:absolute;
}

.centerAlign {
  color:blue;
  text-align: center;
  font-family: serif;
  font-size: 32px;
}

.rightAlign {
  text-align: right;
  color: green;
  font-family: monospace;
  font-size: 24px;
}

.leftAlign {
  text-align: left;
  color: red;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 48px;
}
